<footer class="footer">
    <div class="footer-container">
        <a href="/">
            <h1 class="footer-logo">ParkNow</h1>
        </a>
        <div class="footer-feedback">
            <h2 class="footer-title">Feedback</h2>
            <address>
                <p>Your feedback is valuable for us</p>
                <a class="footer-btn" href="#"><i class="fa-solid fa-face-smile"></i></a>
                <a class="footer-btn" href="#"><i class="fa-solid fa-face-meh"></i></a>
                <a class="footer-btn" href="#"><i class="fa-solid fa-face-frown"></i></a>
            </address>
        </div>
    </div>

    <div class="footer-nav">
        <div class="footer-item">
            <h2 class="footer-title">Useful Links</h2>
            <ul class="footer-list">
                <li>
                    <a href="#">Pricing Details</a>
                </li>
                <li>
                    <a href="#">Partnership</a>
                </li>
                <li>
                    <a href="#">Raise a Complaint</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
            </ul>
        </div>

        <div class="footer-item">
            <h2 class="footer-title">Admin</h2>
            <ul class="footer-list">
                <li>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/admin/login">Admin Login</a>
                </li>
                <li>
                    <a href="#">Affiliates</a>
                </li>
                <li>
                    <a href="#">Resources</a>
                </li>
            </ul>
        </div>

        <div class="footer-item">
            <h2 class="footer-title">Legal</h2>
            <ul class="footer-list">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms and Conditions</a>
                </li>
                <li>
                    <a href="#">Sitemap</a>
                </li>
            </ul>
        </div>

        <div class="footer-item">
            <h2 class="footer-title">Social Media</h2>
            <ul class="footer-list">
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa fa-linkedin-square"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook-official"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-github"></i> GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="legal">
        <p>&copy; 2023 ParkNow. All rights reserved.</p>
        <div class="legal-links">
            <span>Made by Sankhasubhra Roy</span>
        </div>
    </div>
</footer>