<header class="nav-bar">
    <div class="heading">
        <a href="/admin/dashboard">Home</a>
    </div>

    <div class="user-actions">
        <a href="#">
            <i class="fa-regular fa-bell"></i>
        </a>
        <a href="/auth/admin/logout">
            <i class="fa-solid fa-power-off"></i>
        </a>
    </div>
</header>