@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: linear-gradient(#e6e6e6, #bbb);
}

.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.left {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    width: 120px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #333333e2;
    transition: transform .3s;
}

.left:hover {
    transform: scale(2.5);
}

.left:hover+.right {
    transform: scale(0.5);
}

.left .heading {
    margin: 10px 20px;
    font-size: 8pt;
    color: #f3f3f3;
    text-transform: capitalize;
}

.left .block {
    padding: 10px 20px;
}

.left .block p {
    display: flex;
    justify-content: space-between;
    color: #f3f3f3b9;
    font-weight: 600;
    font-size: 7px;
    text-transform: capitalize;
}

.left .block .more-info {
    display: flex;
    font-size: 3pt;
    color: #ffffff62;
}

.left .block .price sub {
    font-weight: lighter;
    font-size: 3pt;
}

.right {
    padding: 40px;
    background: linear-gradient(270deg, #e3ffe7 0%, #d9e7ff 100%);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 9px #33333349;
    transition: transform .3s;
}

.right h1 {
    margin-bottom: 30px;
}

.booking-form {
    font-family: 'Poppins', sans-serif;
}

.radio-input {
    display: inline-block;
    margin-right: 20px;
}

.radio-input input[type="radio"] {
    accent-color: #00308f;
}

.form-field {
    margin-bottom: 10px;
}

.form-field-radio {
    margin-bottom: 40px;
}

.form-label {
    position: relative;
    bottom: 27px;
    left: 20px;
    color: #33333376;
    transition: all ease-in 0.15s;
}

.form-control {
    height: 30px;
    width: 100%;
    display: block;
    background-color: #ffffff2f;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #333;
    padding: 0px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 4px #33333320;
}

.form-control:focus {
    outline: none;
}

.form-control:focus+.form-label {
    bottom: 57px;
    left: 2px;
    color: #333;
}

.booking-form .form-field.active .form-label {
    bottom: 57px;
    left: 2px;
    color: #333;
}

.booking-form .form-field:not(.active) .form-control:not( :focus) {
    color: transparent;
}


.form-btn {
    background: rgb(63, 220, 251);
    background: linear-gradient(90deg, rgba(63, 220, 251, 1) 0%, rgba(63, 251, 182, 1) 50%, rgba(63, 220, 251, 1) 100%);
    background-size: 200% auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #1a1f24;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-position 0.6s;
}

.form-btn:hover {
    background-position: right;
}

.alert {
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background-color: #f44336cc;
    color: white;
}

.closebtn {
    padding: 4px 5px;
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: background-color linear 0.3s;
}

.closebtn:hover {
    background-color: #ffffff44;
    border-radius: 15px;
}

@media screen and (max-width: 767px) {
    .main-container {
        flex-direction: column;
    }

    .left {
        display: none;
    }
}