@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #eeeaeb;
}

.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.row {
  display: flex;
}

.contact-box {
  width: 70%;
  padding: 30px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 7px #33333350;
}

.info-box {
  color: #fff;
  width: 30%;
  padding: 30px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #720e9e;
  box-shadow: -7px 0 7px #33333380;
  transform: scale(1.05);
  transition: all ease-out 0.3s;
}

.info-box:hover {
  transform: scale(1);
  box-shadow: 0 4px 7px #3333337f;
}

.contact-box h1 {
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.name-group,
.email-group {
  width: 48%;
  display: inline-block;
}

.email-group {
  float: right;
}

.form-group textarea {
  height: 200px;
  resize: none;
}

.form-control {
  height: 50px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: #333;
}

.form-control::placeholder {
  color: #d3d3d3;
}

.form-control:focus {
  outline: none;
}

.submit-btn {
  height: 40px;
  background-color: #1877F2;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  transition: background-color ease-out 0.3s;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #720e9e;
}

.info-box h3 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.info-group {
  margin-bottom: 20px;
}

.info-group p i {
  color: #ffffffb8;
  padding: 10px;
  margin-right: 5px;
  font-size: small;
  border: 1px solid #fff;
  border-radius: 50%;
}

.info-group p a {
  color: #ffffffb8;
  text-decoration: none;
}

.info-group p a:hover {
  color: #fff;
  text-decoration: none;
}

.success {
  width: 50%;
  position: relative;
  bottom: 9px;
  left: 50%;
  margin: -34px;
  padding: 10px;
  background-color: #32cd32aa;
  color: white;
}

.alert {
  width: 50%;
  position: relative;
  bottom: 9px;
  left: 50%;
  margin: -34px;
  padding: 10px;
  background-color: #f44336cc;
  color: white;
}

.closebtn {
  padding: 5px 7px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s linear;
}

.closebtn:hover {
  background-color: #ffffff44;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column-reverse;
  }

  .contact-box {
    width: 100%;
    border-radius: 0;
  }

  .info-box {
    width: 100%;
    transform: scale(1);
    border-radius: 0;
    box-shadow: 0 4px 7px #3333337f;
  }

  .name-group,
  .email-group {
    width: 100%;
  }

}