@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Marcellus', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
}

.navbar-brand-text {
    font-family: 'Barriecito', cursive;
    color: #c27324;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    transition: color 1s;
}

.navbar-brand-text:hover {
    transition: 1s;
    color: #e2c72b;
    /* text-shadow: 0px 0px 20px rgba(255, 255, 0, 0.655); */
}

.rout-container {
    text-align: center;
}

.nav-alternate-item {
    font-family: 'Marcellus', serif;
    /* background-color: #333; */
    border: 2px solid #333333ab;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
    margin-right: 10px;
    margin-left: 10px;
    transition: background-color .5s;

}

.nav-alternate-item:hover {
    background-color: #333333ab;
    transition: .5s;
}


.profile-logo {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(48, 203, 27);
    border-radius: 30px;
    transition: 0.4s;
}

.profile-logo:hover {
    border: 3px solid rgb(203, 194, 27);
    border-radius: 30px;
    transition: 0.4s;
}

.navbar-container {
    list-style: none;
    display: flex;
    align-items: center;
}

.profile-container {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    padding: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.highlight {
    background-image: url("https://images.unsplash.com/photo-1573348722427-f1d6819fdf98");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight h1 {
    font-family: 'Rowdies', cursive;
    font-size: 48px;
    color: #fff;
    text-shadow: -20px 20px 5px#f9f9f918;
    text-align: center;
    margin-bottom: 20px;
}

.highlight p {
    font-size: 24px;
    color: #ffffffe9;
    text-align: center;
    margin-bottom: 40px;
}

.book-button {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 15px 40px;
    background-color: #dc8b3b;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 1s;
}

.book-button:hover {
    background-color: #e2c72b;
    color: #0e0000;
    transition: .5s;
}

.features {
    padding: 80px 0;
}

.features h2 {
    font-family: 'Rowdies', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.feature-box {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.feature-box:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.feature-box i {
    font-size: 48px;
    color: #ff9933;
    margin-bottom: 20px;
}

.feature-box h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.feature-box p {
    font-size: 18px;
    color: #666;
    margin-bottom: 0;
}

.testimonials {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.testimonials h2 {
    font-family: 'Rowdies', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial-box {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.testimonial-box:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.testimonial-box p {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}

.testimonial-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media i {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.social-media i:hover {
    color: #ff9933;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: #ff9933;
}

/* Responsive styles */

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .highlight {
        height: auto;
        padding: 80px 0;
    }

    .highlight h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .highlight p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .cta {
        display: block;
        margin: 0 auto;
    }

    .features {
        padding: 40px 0;
    }

    .feature-box {
        margin-bottom: 40px;
    }

    .testimonials {
        padding: 40px 0;
    }

    .testimonial-box {
        margin-bottom: 40px;
    }
}