@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #eeeaeb;
}

.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 420px;
    padding: 20px;
}

.login-body {
    overflow: hidden;
    background: #fff;
    border: 1px solid #33333326;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.login-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.input-container span {
    display: block;
}

.form-input {
    height: 50px;
    width: 100%;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid lightgray;
}

.animated-symbol {
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-top: -50px;
    padding-top: 12px;
    box-sizing: border-box;
    color: lightgray;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.form-input::placeholder {
    color: lightgray;
}

.form-input:focus {
    outline: none;
}

.form-input:focus+.animated-symbol {
    color: #5350eec4;
    transition: all;
    transition-duration: 0.7s;
}

.bottom-border {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 2px;
    background: #5350eec4;
    top: -2px;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.form-input:focus~.bottom-border {
    width: 100%;
    transition: all;
    transition-duration: 0.7s;
}

.forget-password-container {
    text-align: end;
    margin-top: 4%;
}

.submit-button {
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 10px 30px;
    background-color: #dc8b3b;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    transition: all ease-in-out .35s;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #e2c72b;
    color: #333;
    transition: .5s;
}

.signup-redirect {
    text-align: center;
    margin-top: 10%;
}

.alert {
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background-color: #f44336cc;
    color: white;
}

.closebtn {
    padding: 4px 5px;
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: background-color linear 0.3s;
}

.closebtn:hover {
    background-color: #ffffff44;
    border-radius: 15px;
}