/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #99a0b0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f5fa;
    font-size: 16px;
    line-height: 120%;
    font-family: sans-serif;
} */

.nav-bar {
    background: #fff;
    border-bottom: 1px solid #ede8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}

.heading {
    padding: 1em 0;
}

.heading a {
    text-decoration: none;
    font-size: large;
    color: #1b253d;
    line-height: 100%;
}

.user-actions a {
    text-decoration: none;
    font-size: large;
    color: #99a0b0;
    line-height: 100%;
    margin-left: 1em;
}