@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: DebraRounded-Bold;
    src: url(/fonts/DebraRounded-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    background-color: #f9f9f9;
    color: #333;
}

header {
    width: 100%;
    background-color: transparent;
    color: #333;
    padding: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    margin-left: 20px;
}

.brand-text {
    font-family: DebraRounded-Bold;
    font-size: x-large;
    text-decoration: none;
    background: linear-gradient(90deg, #FC466B 0%, #7527dc 50%, #FC466B 100%);
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.brand-text:hover {
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 50%, #0700b8 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 10px;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list .menu-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    transition: color 0.2s ease-in;
}

.menu-list .menu-link:hover {
    color: #073980;
}

.menu-list .menu-link:visited {
    background-color: #ffffff2c;
}

.register-link {
    background-color: #073980;
    color: #fff;
    text-decoration: none;
    padding: 5px 11px;
    border-radius: 20px;
    transition: background-color linear 0.2s;
}

.register-link:hover {
    background-color: #011F5B;
}

.profile-link {
    text-decoration: none;
    font-size: xx-large;
    color: #011F5B;
    display: flex;
}

.profile-link:hover {
    animation: tilt-shaking 0.45s;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.menu-toggle,
.menu-switch {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: normal;
        padding: 5px;
    }

    .menu {
        display: none;
    }

    .active {
        display: block;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .menu-list li {
        margin: 15px 0px;
    }

    .on {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10%;
    }

    .on i {
        padding: 5px 7px;
        color: #333;
        border-radius: 50%;
        transition: background-color .3s;
    }

    .on i:hover {
        background-color: #3333332d;
        border-radius: 50%;
        transition: background-color .4s;
    }
}