@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #eeeaeb;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 260px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #33333355;
}

.payment-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.card-head .details-box {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    font-weight: bold;
    color: #3333338f;
    background-color: #fff;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
}

.details-box ul li {
    list-style: none;
}

.reminder-box {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    color: #333333b2;
}

.reminder-box i {
    margin: 8px 6px;
    padding: 2px 4px;
    border-radius: 50%;
    background-color: #33333327;
}

.price-box {
    margin: 10px 0px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

button {
    display: block;
    width: 100%;
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #615dde;
    border: none;
    border-radius: 5px;
    transition: background-color ease-out 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #504cc3;
}

@media screen and (max-width: 480px) {
    .main-container {
        justify-content: end;
    }

    .container {
        width: 100%;
    }

    .payment-card {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}