<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/about.css">
    <title>About Us</title>
</head>

<body>

    {{>navbar}}

    <div class="about-section">
        <h1>About Us</h1>
        <p>We are happy to make this project for you</p>
        <p>If you have any queries you can contact any of us</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">

        <div class="column">
            <div class="card">
                {{!-- <img src="/avatar.png" alt="Jane" style="width:100%"> --}}
                <div class="container">
                    <h2>Sankhasubhra Roy</h2>
                    {{!-- <p class="title">Full Stack Developer</p> --}}
                    {{!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> --}}
                    <p>sankha.asansol@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                {{!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> --}}
                <div class="container">
                    <h2>Biswajeet Dixit</h2>
                    {{!-- <p class="title">CEO & Founder</p> --}}
                    {{!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> --}}
                    <p>biswajeetdixit@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                {{!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> --}}
                <div class="container">
                    <h2>Sambit Swarup Sahu</h2>
                    {{!-- <p class="title">Art Director</p> --}}
                    {{!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> --}}
                    <p>sambitsahu@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                {{!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> --}}
                <div class="container">
                    <h2>Amit Kumar Gouda</h2>
                    {{!-- <p class="title">Designer</p> --}}
                    {{!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> --}}
                    <p>amitkrgouda@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const menuSwitch = document.querySelector('.menu-switch');
        const menu = document.querySelector('.menu');

        menuToggle.addEventListener('click', () => {
            menu.classList.toggle('active');
            menuToggle.classList.toggle('on');
            menuSwitch.classList.toggle('on');
        });

        menuSwitch.addEventListener('click', () => {
            menu.classList.toggle('active');
            menuSwitch.classList.toggle('on');
            menuToggle.classList.toggle('on');
        })
    </script>
</body>

</html>