<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/about.css">
    <title>About Us</title>
</head>

<body>

    {{>navbar}}

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="about-card">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="https://avatars.githubusercontent.com/u/102174247">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Sankhasubhra Roy</h3>
                            <h4 class="title">Full Stack Developer</h4>
                        </div>
                        <ul class="social">
                            <li><a href="https://www.linkedin.com/in/sankhasubhraroy/" class="fa-brands fa-linkedin"
                                    aria-hidden="true" target="_blank"></a>
                            </li>
                            <li><a href="https://github.com/sankhasubhraroy" class="fa-brands fa-github"
                                    aria-hidden="true" target="_blank"></a>
                            </li>
                            <li><a href="https://twitter.com/sankha__roy" class="fa-brands fa-twitter"
                                    aria-hidden="true" target="_blank"></a>
                            </li>
                            <li><a href="https://www.instagram.com/sankha__roy/" class="fa-brands fa-instagram"
                                    aria-hidden="true" target="_blank"></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100004799925997"
                                    class="fa-brands fa-facebook" aria-hidden="true" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="about-section">
                    <h1>About Us</h1>
                    <p>
                        We are a team of passionate professionals committed to providing the best parking management
                        solutions for our clients.
                        With years of experience in the industry, we have the expertise to tackle any parking challenge,
                        big or small. Our
                        mission is to make parking easy, convenient, and stress-free for everyone. We believe that
                        efficient parking management
                        is essential for the smooth functioning of any business or organization, and we are dedicated to
                        delivering the highest
                        quality service to our clients. Get in touch with us today to learn more about how we can help
                        you manage your parking
                        needs.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>