<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/account.css">
    <title>Account</title>
</head>

<body>

    {{>navbar}}

    <div class="main-container">
        <div class="container">
            <div class="column">
                <div class="upper-section">
                    <div class="account-card">
                        <div class="card-left">
                            <div class="welcome-message">
                                <h1>Welcome</h1>
                                <h1>{{userName}}</h1>
                            </div>
                        </div>
                        <div class="card-right">
                            <div class="logo">
                                <a href="">
                                    <img src="/avatar.jpg" alt="avatar">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lower-section">
                    <div class="account-links">
                        <a href="/account/profile">
                            <div class="link-box" id="profile">
                                <i class="fa fa-user"></i>
                                <div class="info">
                                    <h2>Profile</h2>
                                    <p>Access your profile and update your details</p>
                                </div>
                            </div>
                        </a>
                        <a href="/account/settings">
                            <div class="link-box" id="settings">
                                <i class="fa fa-gear"></i>
                                <div class="info">
                                    <h2>Settings</h2>
                                    <p>Customize your website experience</p>
                                </div>
                            </div>
                        </a>
                        <a href="/account/bookings">
                            <div class="link-box" id="bookings">
                                <i class="fa fa-list-check"></i>
                                <div class="info">
                                    <h2>Bookings</h2>
                                    <p>Check your booking history, download recipts</p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="link-box" id="support">
                                <i class="fa fa-headset"></i>
                                <div class="info">
                                    <h2>Customer Care</h2>
                                    <p>Contact our customer care anytime, 24/7 service available</p>
                                </div>
                            </div>
                        </a>
                        <a href="/auth/logout">
                            <div class="link-box" id="logout">
                                <i class="fa fa-right-from-bracket"></i>
                                <div class="info">
                                    <h2>Logout</h2>
                                    <p>Logout from our website</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="/script/navbar.js"></script>

</body>

</html>