<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/adminLogin.css">
    <title>Admin Login - ParkNow</title>
</head>

<body>
    <section class="main-container">
        <div class="container">
            <div class="form-container">
                <form action="/auth/admin/login" method="POST" id="login-form" class="form">
                    <h2>Login</h2>
                    <div class="form-group">
                        <label for="admin_email">Email</label>
                        <input type="email" class="form-control" id="admin_email" name="admin_email">
                    </div>
                    <div class="form-group">
                        <label for="admin_password">Password</label>
                        <input type="password" class="form-control" id="admin_password" name="admin_password">
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                    <p class="switch-text">Don't have an account? <a href="#" class="signup-link">Sign up here</a></p>
                </form>
                <form action="/auth/admin/register" method="POST" id="signup-form" class="form hidden">
                    <h2>Sign Up</h2>
                    <div class="form-group">
                        <label for="admin_name">Name</label>
                        <input type="text" class="form-control" id="admin_name" name="admin_name">
                    </div>
                    <div class="form-group">
                        <label for="admin_email">Email</label>
                        <input type="email" class="form-control" name="admin_email">
                    </div>
                    <div class="form-group">
                        <label for="admin_password">Password</label>
                        <input type="password" class="form-control" name="admin_password">
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                    </div>
                    <button type="submit" class="submit-btn">Sign Up</button>
                    <p class="switch-text">Already have an account? <a href="#" class="login-link">Login here</a></p>
                </form>
            </div>
        </div>
    </section>

    {{!--
    <script src="/script/adminLogin.js"></script> --}}
</body>

</html>