<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/menu.css">
    <link rel="stylesheet" href="/style/adminDashboard.css">
    <title>Dashboard</title>
</head>

<body>

    {{>menu}}

    <section class="dashboard">
        <div class="content-wrap">
            <div class="content-head">
                <h1>Admin Dashboard</h1>
            </div>

            <div class="content">
                <div class="info-boxes">
                    <a href="/admin/dashboard/payments" class="info-box">
                        <div class="box-icon">
                            <i class="fa-solid fa-wallet"></i>
                        </div>

                        <div class="box-content">
                            <span class="big">{{revenue}} ₹</span>
                            Total Revenue
                        </div>
                    </a>

                    <a href="/admin/dashboard/active-bookings" class="info-box">
                        <div class="box-icon">
                            <i class="fa-solid fa-chart-line"></i>
                        </div>

                        <div class="box-content">
                            <span class="big">{{bookings}}</span>
                            Active Bookings
                        </div>
                    </a>

                    <a href="/admin/dashboard/expired-bookings" class="info-box active">
                        <div class="box-icon">
                            <i class="fa-solid fa-list-check"></i>
                        </div>

                        <div class="box-content">
                            <span class="big">{{expired_bookings}}</span>
                            Expired Bookings
                        </div>
                    </a>

                    <a href="/admin/dashboard/customers" class="info-box">
                        <div class="box-icon">
                            <i class="fa-solid fa-users"></i>
                        </div>

                        <div class="box-content">
                            <span class="big">{{customers}}</span>
                            Customers
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>