<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/book.css">
    <title>Book Your Park</title>
</head>

<body>

    <section class="parking-spot-booking">

        <div class="back-btn">
            <a href="/">
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
        <div class="booking-container">

            <h2>Book Your Park</h2>

            <div class="info-container">

                <p>Per Hour -</p>
                <p>Motorcycle = 50/-</p>
                <p>Car = 100/-</p>
                <p>Truck = 200/-</p>
            </div>

            <form class="booking-form" action="/auth/book" method="POST">

                <div class="form-field">

                    <div class="radio-input">
                        <input type="radio" id="car" name="vehicleType" value="car">
                        <label for="car">Car</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="motorcycle" name="vehicleType" value="motorcycle">
                        <label for="motorcycle">Motorcycle</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="truck" name="vehicleType" value="truck">
                        <label for="truck">Truck</label>
                    </div>
                </div>

                <div class="form-field">

                    <label for="vehicleNo" class="form-label-text">Enter Vehicle Number</label>
                    <input type="text" class="form-control" id="vehicleNo" name="vehicleNo">
                </div>

                <div class="form-field">

                    <label for="date" class="form-label">Date:</label>
                    <input class="form-control" type="date" id="date" name="date">
                </div>

                <div class="form-field">

                    <label for="time" class="form-label">Time:</label>
                    <input class="form-control" type="time" id="time" name="time">
                </div>

                <div class="form-field">

                    <label for="duration" class="form-label">Duration:</label>
                    <select class="form-control" id="duration" name="duration">
                        <option value="">Duration in Hour</option>
                        <option value="1">1 Hour</option>
                        <option value="2">2 Hours</option>
                        <option value="3">3 Hours</option>
                        <option value="4">4 Hours</option>
                        <option value="5">5 Hours</option>
                        <option value="6">6 Hours</option>
                        <option value="7">7 Hours</option>
                        <option value="8">8 Hours</option>
                        <option value="9">9 Hours</option>
                        <option value="10">10 Hours</option>
                        <option value="11">11 Hours</option>
                        <option value="12">12 Hours</option>
                    </select>
                </div>

                <div class="btn-container">
                    <button type="submit" class="form-btn">Book Now</button>
                </div>
            </form>
        </div>

        {{#if message}}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            {{message}}
        </div>
        {{/if}}
    </section>

    <script>
        const closeButton = document.querySelector('.closebtn');
        const alertDiv = closeButton.parentElement;

        setTimeout(() => {
            alertDiv.style.display = 'none'
        }, 6000)
    </script>
</body>

</html>