<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/book.css">
    <title>Book your park - ParkNow</title>
</head>

<body>

    {{>navbar}}

    <main class="main-container">
        <section class="left">
            <h2 class="heading">
                Price Details
            </h2>
            <div class="block">
                <p>Motorcycle
                    <span class="price">₹ 50/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <p>Car
                    <span class="price">₹ 100/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <p>Truck
                    <span class="price">₹ 200/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <span class="more-info">
                    For both day and night price remains the same, If you want our parking service on monthly basis
                    kindly feel free to contact us. If you exceed the checkout time there is penalty. For more details
                    visit our pricing page.
                </span>
            </div>
        </section>

        <section class="right">
            <h1>Book Your Park</h1>
            <form class="booking-form" action="/auth/book" method="POST">

                <div class="form-field form-field-radio">
                    <div class="radio-input">
                        <input type="radio" id="car" name="vehicleType" value="car">
                        <label for="car">Car</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="motorcycle" name="vehicleType" value="motorcycle">
                        <label for="motorcycle">Motorcycle</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="truck" name="vehicleType" value="truck">
                        <label for="truck">Truck</label>
                    </div>
                </div>

                <div class="form-field">
                    <input type="text" class="form-control" id="vehicleNo" name="vehicleNo" oninput="vnoFunc()">
                    <label for="vehicleNo" class="form-label-text form-label">Vehicle Number</label>
                </div>

                <div class="form-field">
                    <input class="form-control" type="date" id="date" name="date" oninput="dateFunc()">
                    <label for="date" class="form-label">Date</label>
                </div>

                <div class="form-field">
                    <input class="form-control" type="time" id="time" name="time" oninput="timeFunc()">
                    <label for="time" class="form-label">Time</label>
                </div>

                <div class="form-field">
                    <select class="form-control" id="duration" name="duration">
                        <option value="">Duration in Hour</option>
                        <option value="1">1 Hour</option>
                        <option value="2">2 Hours</option>
                        <option value="3">3 Hours</option>
                        <option value="4">4 Hours</option>
                        <option value="5">5 Hours</option>
                        <option value="6">6 Hours</option>
                        <option value="7">7 Hours</option>
                        <option value="8">8 Hours</option>
                        <option value="9">9 Hours</option>
                        <option value="10">10 Hours</option>
                        <option value="11">11 Hours</option>
                        <option value="12">12 Hours</option>
                    </select>
                    <label for="duration" class="form-label">Duration</label>
                </div>

                <div class="btn-container">
                    <button type="submit" class="form-btn">Book Now</button>
                </div>
            </form>
        </section>
        {{#if message}}
        {{>alert}}
        {{/if}}
    </main>

    {{>footer}}

    {{#if message}}
    <script src="/script/alert.js"></script>
    {{/if}}
    <script src="/script/book.js"></script>
    <script src="/script/navbar.js"></script>
</body>

</html>