<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/book.css">
    <title>Book Now</title>
</head>

<body>
    <main class="main-container">
        <section class="left">
            <h2 class="heading">
                Price Details
            </h2>
            <div class="block">
                <p>Motorcycle
                    <span class="price">₹ 50/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <p>Car
                    <span class="price">₹ 100/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <p>Truck
                    <span class="price">₹ 200/
                        <sub>hour</sub>
                    </span>
                </p>
            </div>
            <div class="block">
                <span class="more-info">
                    For both day and night price remains the same, If you want our parking service on monthly basis
                    kindly feel free to contact us. If you exceed the checkout time there is penalty. For more details
                    visit our pricing page.
                </span>
            </div>
        </section>

        <section class="right">
            <h1>Book Your Park</h1>
            <form class="booking-form" action="/auth/book" method="POST">

                <div class="form-field form-field-radio">
                    <div class="radio-input">
                        <input type="radio" id="car" name="vehicleType" value="car">
                        <label for="car">Car</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="motorcycle" name="vehicleType" value="motorcycle">
                        <label for="motorcycle">Motorcycle</label>
                    </div>
                    <div class="radio-input">
                        <input type="radio" id="truck" name="vehicleType" value="truck">
                        <label for="truck">Truck</label>
                    </div>
                </div>

                <div class="form-field">
                    <input type="text" class="form-control" id="vehicleNo" name="vehicleNo" oninput="vnoFunc()">
                    <label for="vehicleNo" class="form-label-text form-label">Vehicle Number</label>
                </div>

                <div class="form-field">
                    <input class="form-control" type="date" id="date" name="date" oninput="dateFunc()">
                    <label for="date" class="form-label">Date</label>
                </div>

                <div class="form-field">
                    <input class="form-control" type="time" id="time" name="time" oninput="timeFunc()">
                    <label for="time" class="form-label">Time</label>
                </div>

                <div class="form-field">
                    <select class="form-control" id="duration" name="duration">
                        <option value="">Duration in Hour</option>
                        <option value="1">1 Hour</option>
                        <option value="2">2 Hours</option>
                        <option value="3">3 Hours</option>
                        <option value="4">4 Hours</option>
                        <option value="5">5 Hours</option>
                        <option value="6">6 Hours</option>
                        <option value="7">7 Hours</option>
                        <option value="8">8 Hours</option>
                        <option value="9">9 Hours</option>
                        <option value="10">10 Hours</option>
                        <option value="11">11 Hours</option>
                        <option value="12">12 Hours</option>
                    </select>
                    <label for="duration" class="form-label">Duration</label>
                </div>

                <div class="btn-container">
                    <button type="submit" class="form-btn">Book Now</button>
                </div>
            </form>
        </section>
        {{#if message}}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            {{message}}
        </div>
        {{/if}}
    </main>

    {{#if message}}
    <script>
        const closeButton = document.querySelector('.closebtn');
        const alertDiv = closeButton.parentElement;

        setTimeout(() => {
            alertDiv.style.display = 'none'
        }, 6000)
    </script>
    {{/if}}

    <script>
        const vno = document.getElementById('vehicleNo');
        const date = document.getElementById('date');
        const time = document.getElementById('time');
        const duration = document.getElementById('duration');
        function vnoFunc() {
            if (vno.value) {
                vno.parentElement.classList.add('active')
            }
            else {
                vno.parentElement.classList.remove('active')
            }
        }
        function dateFunc() {
            if (date.value) {
                date.parentElement.classList.add('active')
            }
            else {
                date.parentElement.classList.remove('active')
            }
        }
        function timeFunc() {
            if (time.value) {
                time.parentElement.classList.add('active')
            }
            else {
                time.parentElement.classList.remove('active')
            }
        }

        duration.addEventListener('change', () => {
            if (duration.value) {
                duration.parentElement.classList.add('active')
            }
            else {
                duration.parentElement.classList.remove('active')
            }
        })
    </script>
</body>

</html>