<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/confirmation.css">
    <title>Payment Status</title>
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="payment-card">
                <div class="card-head">
                    <div class="logo-box">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="reminder-box">
                        <p>Your booking has been confirmed, check your profile for details</p>
                    </div>
                    <a href="/account">
                        <button>OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="payment-card">
                <div class="card-head">
                    <div class="logo-box">
                        <i class="fa fa-close" style="background-color: #eb3131; padding: 15px 22px"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="reminder-box">
                        <p>Your booking has been failed, returning to profile page</p>
                    </div>
                    <a href="/account">
                        <button style="background-color: #eb3131;">OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>