<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/login.css">
    <title>Login</title>
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="login-body">
                <form class="login-form" action="/auth/login" method="POST">
                    <h4 class="login-text">Login</h4>

                    <div class="input-container">
                        <label for="email" class="form-label-text">Email</label>
                        <input type="email" class="form-input" id="email" name="email" placeholder="Type your email id">
                        <span class="animated-symbol">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="password" class="form-label-text">Password</label>
                        <input type="password" class="form-input" id="password" name="password"
                            placeholder="Type your password">
                        <span class="animated-symbol">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="forget-password-container">
                        <a href="#">Forget password?</a>
                    </div>

                    <button type="submit" class="submit-button">Login</button>
                </form>

                <div class="signup-redirect">
                    <p>Don't have an account? <a href="/register">register</a> here</p>
                </div>
            </div>
        </div>
        {{#if message}}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            {{message}}
        </div>
        {{/if}}
    </div>

    {{#if message}}
    <script>
        const closeButton = document.querySelector('.closebtn');
        const alertDiv = closeButton.parentElement;

        setTimeout(() => {
            alertDiv.style.display = 'none'
        }, 6000)
    </script>
    {{/if}}
</body>

</html>