<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/payment.css">
    <title>Document</title>
</head>

<body>
    <!-- Payment Modal -->
    <div class="modal-content">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Razorpay_logo.svg" alt="">
        </div>

        <div class="price">
            <h1>100 <i class="fa fa-inr"></i></h1>
        </div>

        <a href="/profile" class="pay-link">
            <button class="pay-btn">Pay</button>
        </a>
    </div>

</body>

</html>