<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/pricing.css">
    <title>Pricing</title>
</head>

<body>

    {{>navbar}}

    <section class="main-container">
        <div class="container">
            <div class="row">

                <div class="price-card">
                    <div class="card-head">
                        <div class="card-head-content">
                            <div class="head-bg"></div>
                            <div class="head">
                                <i class="fa-solid fa-motorcycle"></i>
                            </div>
                        </div>
                        <div class="card-head-price">
                            <span class="price">
                                <span class="sign">₹</span>
                                <span class="currency">50</span>
                                <span class="hour">/Hour</span>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Total 500 parking spaces</li>
                            <li>Online Booking and payment</li>
                            <li>24/7 customer support</li>
                            <li>Full CCTV surveillance</li>
                        </ul>
                    </div>
                    <div class="card-btn">
                        <a class="" href="/book">Book now</a>
                    </div>
                </div>

                <div class="price-card active">
                    <div class="card-head">
                        <div class="card-head-content">
                            <div class="head-bg"></div>
                            <div class="head">
                                <i class="fa-solid fa-car"></i>
                            </div>
                        </div>
                        <div class="card-head-price">
                            <span class="price">
                                <span class="sign">₹</span>
                                <span class="currency">100</span>
                                <span class="hour">/Hour</span>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Total 100 parking spaces</li>
                            <li>Online Booking and payment</li>
                            <li>24/7 customer support</li>
                            <li>Monthly rent available</li>
                            <li>Full CCTV surveillance</li>
                        </ul>
                    </div>
                    <div class="card-btn ">
                        <a class="" href="/book">Book now</a>
                    </div>
                </div>

                <div class="price-card">
                    <div class="card-head">
                        <div class="card-head-content">
                            <div class="head-bg"></div>
                            <div class="head">
                                <i class="fa-solid fa-truck-fast"></i>
                            </div>
                        </div>
                        <div class="card-head-price">
                            <span class="price">
                                <span class="sign">₹</span>
                                <span class="currency">200</span>
                                <span class="hour">/Hour</span>
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Total 50 parking spaces</li>
                            <li>Online Booking and payment</li>
                            <li>24/7 customer support</li>
                            <li>Yearly rent available</li>
                            <li>Full CCTV surveillance</li>
                            <li>Mechanic available</li>
                        </ul>
                    </div>
                    <div class="card-btn">
                        <a class="" href="/book">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <script src="/script/navbar.js"></script>

</body>

</html>