<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/login.css">
    <title>Register</title>
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="login-body">
                <form class="login-form" action="/auth/register" method="POST">
                    <h4 class="login-text">Register</h4>

                    <div class="input-container">
                        <label for="name" class="form-label-text">Name</label>
                        <input type="text" class="form-input" id="name" name="name" placeholder="Type your name">
                        <span class="animated-symbol">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="email" class="form-label-text">Email</label>
                        <input type="email" class="form-input" id="email" name="email" placeholder="Type your email id">
                        <span class="animated-symbol">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="mno" class="form-label-text">Phone Number</label>
                        <input type="tel" class="form-input" id="mno" name="mobile_no"
                            placeholder="Type your phone number">
                        <span class="animated-symbol">
                            <i class="fa fa-phone"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="dob" class="form-label-text">Date of Birth</label>
                        <input type="date" class="form-input" id="dob" name="date_of_birth"
                            placeholder="Type your date of birth">
                        <span class="animated-symbol">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="address" class="form-label-text">Address</label>
                        <input type="text" class="form-input" id="address" name="address"
                            placeholder="Type your address">
                        <span class="animated-symbol">
                            <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="password" class="form-label-text">Password</label>
                        <input type="password" class="form-input" id="password" name="password"
                            placeholder="Type your password">
                        <span class="animated-symbol">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <div class="input-container">
                        <label for="passwordConfirm" class="form-label-text">Confirm Password</label>
                        <input type="password" class="form-input" id="passwordConfirm" name="passwordConfirm"
                            placeholder="Confirm your password">
                        <span class="animated-symbol">
                            <i class="fa fa-lock"></i>
                        </span>
                        <span class="bottom-border"></span>
                    </div>

                    <button type="submit" class="submit-button">Register</button>
                </form>

                <div class="signup-redirect">
                    <p>Already have an account? <a href="/login">login</a> here</p>
                </div>
            </div>
        </div>
        {{#if message}}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            {{message}}
        </div>
        {{/if}}
    </div>

    <script>
        const closeButton = document.querySelector('.closebtn');
        const alertDiv = closeButton.parentElement;

        setTimeout(() => {
            alertDiv.style.display = 'none'
        }, 6000)
    </script>
</body>

</html>