<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/service.css">
    <title>Service</title>
</head>

<body>

    {{>navbar}}

    <section class="main-container">
        <div class="service-header">
            <h1>Our Services</h1>
            <p>
                At ParkNow, we offer a range of services to help simplify and streamline your parking needs.
                Whether you are a
                property owner, manager, or tenant, our online platform makes it easy to manage your parking spaces.
            </p>
            <p>
                With our online parking management system, you can take the hassle out of managing your parking spaces
                and focus on what
                matters most to your business. Try our platform today and see how easy it is to manage your parking
                needs online.
            </p>
        </div>
        <div class="service-cards">
            <ul>
                <li>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <h3>24/7 Parking Access</h3>
                    <p> Our parking system is available 24/7, so you can park vehicle anytime you need to.</p>
                </li>
                <li>
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <h3>Easy Reservation System</h3>
                    <p>You can easily reserve a parking spot online, and receive instant confirmation of your booking.
                    </p>
                </li>
                <li>
                    <i class="fa-solid fa-shield-halved"></i>
                    <h3>Secure Parking Facilities</h3>
                    <p>Our parking facilities are monitored by security personnel, and equipped with surveillance
                        cameras for added safety.</p>
                </li>
                <li>
                    <i class="fa-solid fa-indian-rupee-sign"></i>
                    <h3>Convenient Payment Options</h3>
                    <p>We offer a variety of payment options to make it easy for you to pay for your parking, including
                        online payment and mobile payment.</p>
                </li>
            </ul>
        </div>
    </section>

    {{>footer}}

    <script src="/script/navbar.js"></script>

</body>

</html>