<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/service.css">
    <title>Service</title>
</head>

<body>

    {{>navbar}}

    <main>
        <section class="hero">
            <div class="container">
                <h1>Our Services</h1>
                <p>At ParkNow, we won't charge you extra if you don't have a driving license! We'll charge you if you
                    exceed the checkout
                    time. With us, you can be totally tension-free about your car. Feel free to visit our FAQ page or
                    ask us directly! We’re
                    Open every day, including Sundays.</p>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <div class="service">
                    <i class="fa fa-inr"></i>
                    <h2>Payment processing</h2>
                    <p>We provide users with a secure and convenient way to pay for their parking fees online.
                    </p>
                </div>
                <div class="service">
                    <i class="fa fa-user"></i>
                    <h2>Customer support</h2>
                    <p>We provide users with a way to contact customer support in case of any issues or questions.
                    </p>
                </div>
                <div class="service">
                    <i class="fa fa-lock"></i>
                    <h2>Security and safety</h2>
                    <p>We provide users with information about the security and safety measures in place at the parking
                        facility, such as surveillance cameras, lighting, and emergency procedures.
                    </p>
                </div>
                <div class="service">
                    <i class="	fa fa-line-chart"></i>
                    <h2>Reporting and analytics</h2>
                    <p>The website may provide administrators with access to reporting and analytics data, which can
                        help improve the
                        efficiency and effectiveness of the parking system.
                    </p>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const menuSwitch = document.querySelector('.menu-switch');
        const menu = document.querySelector('.menu');

        menuToggle.addEventListener('click', () => {
            menu.classList.toggle('active');
            menuToggle.classList.toggle('on');
            menuSwitch.classList.toggle('on');
        });

        menuSwitch.addEventListener('click', () => {
            menu.classList.toggle('active');
            menuSwitch.classList.toggle('on');
            menuToggle.classList.toggle('on');
        })
    </script>
</body>

</html>