.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

.main-container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-container {
    width: 20%;
    /* display: flex; */
}

.holder-container {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
}

.history-container {
    margin-top: 5%;
}